<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">

    <Properties>
        <Property name="libraryName">java-text-function</Property>
        <Property name="logFormat">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] src/test %-5level %logger{36} %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logFormat}"/>
        </Console>
        <!--File name="File" fileName="./${libraryName}.log" append="true">
            <PatternLayout>
                <Pattern>${logFormat}</Pattern>
            </PatternLayout>
        </File-->
        <RollingFile name="RollingFile" fileName="./${libraryName}.log"
                     filePattern="logs/${libraryName}-%d{yyyy-MM-dd}.log.gz">
            <SizeBasedTriggeringPolicy size="5MB"/>
            <DefaultRolloverStrategy max="10"/>
            <PatternLayout>
                <Pattern>${logFormat}</Pattern>
            </PatternLayout>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
